/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  color: blue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
