/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  color: limegreen;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  color: yellow;
}

label {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
